/* Write your CSS here */
.tab-btn {
    border-width: 0px 0px 2px 0px;
    width: 11vw;
    background-color: transparent;
    border-color: #dfe2e5;
    border-style: solid;
    color: #7b8794;
    cursor: pointer;
  }
  .selectTab {
    border-color: #2563eb;
    color: #2563eb;
  }
  