/* Write your CSS here */
button {
    cursor: pointer;
    outline: none;
    border-width: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
  }
  .arrowImg {
    width: 18px;
    height: 18px;
  }
  .suggestion-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    margin: 0;
    padding-left: 0;
  }
  p {
    font-size: 12px;
    color: #475569;
    align-self: initial;
  }
  